<form class= "centerLogIn" action="/login" method="post" id="login-form">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" autocomplete="off">
    <br>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" autocomplete="off">
    <br>
    <button class="loginButton" type="submit">Login</button>
</form>
<p class= "errorLog bold">{{e}}</p>
<br>
<img class= "centerimage" src="../../public/logo.png" alt="Bell Lads Logo">
<p class="rainbow rainbow_text_animated bold">Bell Lads</p>
<p class= "centerLogoText bold">Hugs the Rail IoT Project</p>
