<p class= "errorLog bold huge">Logged Out</p>
<br>
<img class= "centerimage" src="../../public/logo.png" alt="Bell Lads Logo">
<p class="rainbow rainbow_text_animated bold">Bell Lads</p>
<p class= "centerLogoText bold">Hugs the Rail IoT Project</p>
<button onclick="location.href='/'"  type="button" class="buttonLoggedOut">Back to Login</button>
